@charset "UTF-8";
.container {
  display: grid;
  margin: 0 auto;
  width: 960px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(20, 100px);
  font-family: "微軟正黑體";
  font-weight: bold; }

.nav {
  margin: auto;
  height: 24px;
  width: 113px;
  font-size: 20px;
  text-align: center;
  color: #000000; }

#title {
  margin: 0 auto;
  height: 85px;
  font-size: 72px;
  text-align: center;
  color: #000000; }

.item1 {
  grid-area: 1 / 1 / 1 / -1; }

.item2 {
  position: relative;
  grid-area: 3 / 1 / span 4 / span 4; }
  .item2 .title {
    top: -45px;
    left: 0px;
    position: absolute;
    font-size: 48px;
    color: #000000;
    text-align: center; }
  .item2 #d1 {
    position: absolute;
    width: 240px;
    height: 100px;
    left: 12.5%;
    bottom: -60px;
    background: linear-gradient(135deg, #50e3c2 6.25%, transparent 6.25%, transparent 18.75%, #50e3c2 18.75%, #50e3c2 31.25%, transparent 31.25%, transparent 43.75%, #50e3c2 43.75%, #50e3c2 56.25%, transparent 56.25%, transparent 68.75%, #50e3c2 68.75%, #50e3c2 81.25%, transparent 81.25%, transparent 93.75%, #50e3c2 93.75%, #50e3c2 100%);
    background-size: 100px 100px; }
  .item2 #d1_2 {
    position: absolute;
    width: 200px;
    height: 160px;
    margin: 0 auto;
    left: 62.5%;
    bottom: 62.5%;
    border: 20px solid #50E3C2;
    z-index: -10; }
  .item2 .num {
    position: absolute;
    left: 0px;
    bottom: -50px;
    margin: 0 auto;
    font-size: 48px;
    color: #000000;
    text-align: center; }

.item3 {
  grid-area: 4 / 6 / 6 / 8;
  position: relative; }
  .item3 .title {
    bottom: -70px;
    right: -85px;
    position: absolute;
    font-size: 48px;
    color: #000000;
    text-align: center; }
  .item3 .title2 {
    top: -30px;
    left: -10px;
    font-style: italic;
    position: absolute;
    font-size: 24px;
    color: #000000;
    text-align: center; }
  .item3 #d2 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    left: 25%;
    bottom: 25%;
    background-color: #50E3C2;
    z-index: -10; }
  .item3 #d2_2 {
    position: absolute;
    width: 200px;
    height: 160px;
    margin: 0 auto;
    left: 50%;
    bottom: 50%;
    border: 20px solid #50E3C2;
    z-index: -20; }
  .item3 .num {
    position: absolute;
    left: 310px;
    bottom: 250px;
    margin: 0 auto;
    font-size: 48px;
    color: #000000;
    text-align: center; }

.item4 {
  position: relative;
  grid-area: 9 / 1 / span 2 / span 4; }
  .item4 .title {
    top: -55px;
    right: 0px;
    position: absolute;
    font-size: 48px;
    color: #000000;
    text-align: center; }
  .item4 #d3 {
    position: absolute;
    width: 240px;
    height: 200px;
    margin: 0 auto;
    left: 0%;
    bottom: 25%;
    background-color: #50E3C2;
    z-index: -10; }
  .item4 #d3_2 {
    position: absolute;
    width: 200px;
    height: 160px;
    margin: 0 auto;
    left: 62.5%;
    bottom: -25%;
    border: 20px solid #50E3C2;
    z-index: -10; }
  .item4 .num {
    position: absolute;
    left: 490px;
    bottom: -50px;
    margin: 0 auto;
    font-size: 48px;
    color: #000000;
    text-align: center; }

.item5 {
  position: relative;
  grid-area: 9 / 7 / 13 / 9; }
  .item5 #d4 {
    position: absolute;
    width: 240px;
    height: 100px;
    left: 0%;
    bottom: -60px;
    background: linear-gradient(135deg, #50e3c2 6.25%, transparent 6.25%, transparent 18.75%, #50e3c2 18.75%, #50e3c2 31.25%, transparent 31.25%, transparent 43.75%, #50e3c2 43.75%, #50e3c2 56.25%, transparent 56.25%, transparent 68.75%, #50e3c2 68.75%, #50e3c2 81.25%, transparent 81.25%, transparent 93.75%, #50e3c2 93.75%, #50e3c2 100%);
    background-size: 100px 100px; }
  .item5 #d4_2 {
    position: absolute;
    width: 200px;
    height: 160px;
    margin: 0 auto;
    left: -25%;
    bottom: 75%;
    border: 20px solid #50E3C2;
    z-index: -10; }
  .item5 .num {
    position: absolute;
    left: -50px;
    bottom: 0px;
    margin: 0 auto;
    font-size: 48px;
    color: #000000;
    text-align: center; }

.item6 {
  position: relative;
  grid-area: 13 / 3 / span 2 / span 2; }
  .item6 .title {
    position: absolute;
    left: -300px;
    top: 40px;
    margin: 0 auto;
    font-size: 48px;
    color: #000000;
    text-align: center; }
  .item6 #d5 {
    position: absolute;
    width: 240px;
    height: 100px;
    left: -75%;
    bottom: 135px;
    background: linear-gradient(135deg, #50e3c2 6.25%, transparent 6.25%, transparent 18.75%, #50e3c2 18.75%, #50e3c2 31.25%, transparent 31.25%, transparent 43.75%, #50e3c2 43.75%, #50e3c2 56.25%, transparent 56.25%, transparent 68.75%, #50e3c2 68.75%, #50e3c2 81.25%, transparent 81.25%, transparent 93.75%, #50e3c2 93.75%, #50e3c2 100%);
    background-size: 100px 100px; }
  .item6 #d5_2 {
    position: absolute;
    width: 200px;
    height: 80px;
    margin: 0 auto;
    left: -50%;
    bottom: -25%;
    border: 20px solid #50E3C2;
    z-index: -10; }
  .item6 .num {
    position: absolute;
    left: -120px;
    bottom: 25px;
    margin: 0 auto;
    font-size: 48px;
    color: #000000;
    text-align: center; }

.item7 {
  position: relative;
  grid-area: 15 / 5 / 19 / 9; }
  .item7 .title {
    top: -60px;
    right: 0px;
    position: absolute;
    font-size: 48px;
    color: #000000;
    text-align: center; }
  .item7 #d6 {
    position: absolute;
    width: 240px;
    height: 200px;
    margin: 0 auto;
    left: -12.5%;
    bottom: 0%;
    background-color: #50E3C2;
    z-index: -10; }
  .item7 #d6_2 {
    position: absolute;
    width: 440px;
    height: 360px;
    margin: 0 auto;
    left: 0%;
    bottom: -12.5%;
    border: 20px solid #50E3C2;
    z-index: -10; }
  .item7 .num {
    position: absolute;
    left: -50px;
    bottom: 200px;
    margin: 0 auto;
    font-size: 48px;
    color: #000000;
    text-align: center; }

.item8 {
  position: relative;
  grid-area: -5 / 1 / span 4 / span  2; }
  .item8 #d7 {
    position: absolute;
    width: 240px;
    height: 200px;
    margin: 0 auto;
    left: 50%;
    bottom: 0%;
    background-color: #50E3C2;
    z-index: -10; }
  .item8 #d7_2 {
    position: absolute;
    width: 200px;
    height: 360px;
    margin: 0 auto;
    left: 25%;
    bottom: 12.5%;
    border: 20px solid #50E3C2;
    z-index: -10; }
  .item8 .num {
    position: absolute;
    left: 310px;
    bottom: 0px;
    margin: 0 auto;
    font-size: 48px;
    color: #000000;
    text-align: center; }
